<input type="text"
[(ngModel)]="keyword"
(ngModelChange)="searchCategories();" 
required>
<table>
    <thead>
        <tr>
            <th>Categories</th>
        </tr>
    </thead>
    <tbody *ngIf="!keyword">
        <tr *ngFor="let category of allCategories">
            <td>
                {{ category }}
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="keyword">
        <tr *ngFor="let category of filteredCategories">
            <td>
                {{ category }}
            </td>
        </tr>
    </tbody>
</table>